@model LoginModel
@{
    Layout = "_LayoutDeslogado";
    ViewData["Title"] = "Login";
}

@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-danger btn-sm close-alert" arial-label="close">x</button>
        @TempData["MensagemErro"]
    </div>
}
<form asp-action="Entrar" asp-controller="Login" method="post">
    <div class="mb-3">
        <label for="login" class="form-label" placeholder="@Model.Login">Login</label>
        <input type="text" class="form-control" id="login" asp-for="Login">
        @Html.ValidationMessageFor(x => x.Login)
    </div>
    <div class="mb-3">
        <label for="password" class="form-label" placeholder="@Model.Senha">Password</label>
        <input type="password" class="form-control" id="password" asp-for="Senha">
        @Html.ValidationMessageFor(x => x.Senha)
    </div>
    <button type="submit" class="btn btn-primary">Entrar </button>
</form>